a {
  color: #000;
}

#mtlPics {
  width: 450px;
  height: auto;
  padding: 20px 40px;
  margin: 10px auto 10px 10px;
  display: block;
  background-color: #d5ecfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.dark-mode header {
  background-image: url(bannerHeaderDARK.jpg);
  color: #fff;
  padding: 10px;
}
.dark-mode footer {
  background-image: url(bannerFooterDARK.jpg);
}
.dark-mode {
  background-color: #3b4046;
}
.dark-mode #darkMode,
.dark-mode #translate {
  background-color: #043342;
}
.dark-mode .content {
  background-color: #424242;
  color: #d5ecfb;
}
.dark-mode section {
  color: #7abed2;
  background-color: #021117;
  border-left: double #a1a1a1;
}
.dark-mode h2 {
  color: #6fb5cb;
}
.dark-mode section:hover {
  color: #b0b0b0;
}
.dark-mode .content a:active,
.dark-mode .content a:hover,
.dark-mode .content a:link,
.dark-mode .content a:visited {
  color: #fff;
}
.dark-mode .dropdown {
  background-color: #1f2634;
  border-left: double #bebcbc;
  border-right: double #a3a3a3;
  color: #d0d0d0;
  cursor: pointer;
  padding: 13px;
}
#nameplate {
  cursor: none;
}
header,
section {
  font-size: large;
}
h1 span,
section:hover {
  transition: 0.3s;
}
.content,
.dropdown {
  font-size: 17px;
  width: 100%;
}
footer,
header {
  background-position: 50%;
  background-size: cover;
}
.content,
.dropdown,
footer {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  height: 100%;
  margin: 0;
}
body {
  background-color: #e5f1fc;
  display: grid;
  display: flex;
  flex-direction: column;
  font-family: Times New Roman, Times, serif;
  line-height: 1.6;
  padding: 0;
}
header {
  background-image: url(bannerHeader.jpg);
  color: #fff;
  padding: 10px;
  text-align: right;
}
h1 {
  letter-spacing: -3px;
  margin-bottom: 1px;
}
h1 span:hover {
  color: #b2e0ff;
}
nav ul {
  list-style: none;
  margin-top: 10px;
}
nav ul li {
  display: inline;
  margin-left: 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #b2e0ff;
  text-decoration: underline;
  transition: 0.3s;
}
section {
  background-color: #f4f9ff;
  border: 1px solid #e3f1fc;
  border-left: double #115372;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #04446f;
  flex: 1;
  margin: 15px;
  padding: 20px;
}
h2,
section:hover {
  color: #333;
}
.dropdown {
  background-color: #4c8aa1;
  border-left: double #333;
  border-right: double #333;
  color: #fff;
  cursor: pointer;
  padding: 13px;
}
#project1 {
  border-top: double #333;
}
#project6 {
  border-bottom: double #333;
}
.dropdown:hover {
  background-color: #2d435a;
}
.dropdown:after {
  color: #fff;
  content: "\25BC";
  float: left;
  font-size: 12px;
  margin-left: 5px;
}
.active:after {
  content: "\25B2";
}
.content {
  background-color: #e5f1fc;
  display: none;
  overflow: hidden;
  padding: 0;
}
#contactMe {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  padding: 10px;
}
button:hover {
  background-color: #dcf7d1;
  box-shadow: 0px 0px 1px 1px #000000;
  transition: 0.5s;
}
#darkMode,
#translate {
  background-color: #077495;
}
#darkMode,
#translate,
footer {
  color: #fff;
  padding: 5px;
}
footer {
  background-image: url(bannerFooter.jpg);
  bottom: 0;
  margin-top: 20px;
  position: relative;
  right: 0;
}
@media only screen and (max-width: 600px) {
  footer,
  header {
    padding: 5px;
  }
  nav ul li {
    display: block;
    margin: 5px 0;
    text-align: right;
  }
  section {
    margin: 10px;
    padding: 10px;
  }
  .dark-mode header {
    background-image: url(bannerHeaderDARK.jpg);
    color: #fff;
    padding: 10px;
  }
  .dark-mode footer {
    background-image: url(bannerFooterDARK.jpg);
  }
  .dark-mode {
    background-color: #3b4046;
  }
  #darkMode,
  .dark-mode #darkMode,
  .dark-mode #translate {
    background-color: #043342;
  }
  .dark-mode .content {
    background-color: #424242;
    color: #d5ecfb;
  }
  .dark-mode section {
    color: #7abed2;
    background-color: #021117;
    border-left: double #a1a1a1;
  }
  .dark-mode h2 {
    color: #6fb5cb;
  }
  .dark-mode section:hover {
    color: #b0b0b0;
  }
  .dark-mode .dropdown {
    background-color: #1f2634;
    border-left: double #bebcbc;
    border-right: double #a3a3a3;
    color: #d0d0d0;
    cursor: pointer;
    padding: 13px;
  }
  .dark-mode .content a:active,
  .dark-mode .content a:hover,
  .dark-mode .content a:link,
  .dark-mode .content a:visited {
    color: #fff;
  }
}
