/* General Styles */
html {  
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}


body {
  height: 100%;
  margin: 0;
  display: grid;
  background-color: rgb(229, 241, 252);
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("bannerHeader.jpg");
  background-size: cover;
  background-position: center;
  /* background-color: #6f4444; */
  color: white;
  padding: 10px;
  text-align: right;
  font-size: large;
}
h1 {
  margin-bottom: 1px;
  letter-spacing: -3px;
  cursor: default;
}

h1 span {
  transition: 0.3s;
}
h1 span:hover {
  color: rgb(178, 224, 255);
}

nav ul {
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  display: inline;
  margin-left: 10px;
  /* text-decoration: underline; */
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(178, 224, 255);
  text-decoration: underline;
  transition: 0.3s;
}

section {
  flex: 1;    
  border: 1px solid rgb(227, 241, 252);
  padding: 20px;
  margin: 20px;
  background-color: rgb(244, 249, 255);
  border-radius: 8px;
  border-left: double #115372;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: large;
 }

section:hover {
  color: rgb(4, 60, 98);
  transition: 0.3s;
}

h2 {
  color: #333;
}

#contactMe {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  transition: .5s;
  background-color: #dcf7d1;
}

footer {
  background-image: url("bannerFooter.jpg");
  background-size: cover;
  background-position: center;
  color: white;   
  text-align: center;
  position: relative;
  padding: 5px;
  margin-top: 20px;
  bottom: 0;
  right: 0px;
}


/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  header, footer {
      padding: 5px;
  }

  nav ul li {
      display: block;
      text-align: right;
      margin: 5px 0;
  }

  section {
      padding: 10px;
      margin: 10px;
  }
}
